<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.0.0.slim.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul th:each="category : ${recipe.categories}">
                                    <li th:text="${category.description}">Category text</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.prepTime) + ' Min'}">Prep time text</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">Difficulty text</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.cookTime) + ' Min'}">Cook time text</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">Servings text</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">Source text</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.url}">URL text</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Ingredients</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul th:each="ingredient : ${recipe.ingredients}">
                                    <li th:text="${(ingredient.amount) + ' '
                                                + (ingredient.unit.description) + ' - '
                                                + (ingredient.description)}">Ingredient text</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Directions</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.directions}">Directions text</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Notes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.notes.recipeNotes}">Notes text</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>